<nz-page-header  class="site-page-header">
  <!--breadcrumb-->
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Javaci Bank</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>Welcome</a>
    </nz-breadcrumb-item>

  </nz-breadcrumb>

  <!--title-->
  <nz-page-header-title>Welcome to Javacibank online banking client.</nz-page-header-title>

  <!--subtitle-->
  <nz-page-header-subtitle>{{today | date:'fullDate'}}</nz-page-header-subtitle>

  <!--tags-->


  <!--content-->
  <nz-page-header-content *ngIf="!($user|async)">
    <div nz-row>
      <div class="content">
        <p nz-paragraph>
          Manage your accounts, send money, track your expenses and more...
        </p>
        <p nz-paragraph>
          Please login or register for an account to start using our award winning  online banking right away.
        </p>
        <div class="content-link">
          <a routerLink="/login"><i nz-icon nzType="login" nzTheme="outline" ></i><span style="margin-left: 3px;">Login</span></a>
          <a routerLink="/register"> <i nz-icon nzType="user-add" nzTheme="outline"></i><span style="margin-left: 3px;">Register</span> </a>
          <a routerLink="/welcome">  <i nz-icon nzType="contacts" nzTheme="outline"></i><span style="margin-left: 3px;">Contact</span> </a>
        </div>
      </div>
      <div class="content-image">
        <img src="https://gw.alipayobjects.com/zos/antfincdn/K%24NnlsB%26hz/pageHeader.svg" alt="content" />
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>

<div nz-row [nzGutter]="8" *ngIf="($user|async) && !accountSummary" >
  <nz-divider nzText="Account Summary"></nz-divider>

  <div nz-col [nzSpan]="8">
    <nz-card nzTitle="Accounts Summary">
      <nz-empty  [nzNotFoundContent]="contentTpl"></nz-empty>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-card nzTitle="Transaction Summary">
      <nz-empty  [nzNotFoundContent]="contentTpl"></nz-empty>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-card nzTitle="Notification Summary">
      <nz-empty  [nzNotFoundContent]="contentTpl"></nz-empty>
    </nz-card>
  </div>


</div>


<ng-template #contentTpl>
  <span> Your summary is not available at this time! <a routerLink="/contact">Have a question?</a> </span>
</ng-template>
