<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="http://javacibank.com/images/logo/javaci-logo.png" alt="logo">
        <h1>Javaci Bank</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Home" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="($user|async)">
            <a>Accounts</a>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="($user|async)">
            <a>Transactions</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Help" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Contact </a>
          </li>

        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>

      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <div style="float: right; margin-right: 20px" *ngIf="($user|async)">
          <nz-button-group>

            <button (mouseover)="myAccountLink='primary'" (mouseout)="myAccountLink='link'" nz-button [nzType]="myAccountLink"><i nz-icon nzType="profile" nzTheme="outline"></i>My Account</button>
            <button nz-button nzType="info" nz-popover nzPopoverTitle="Notifications" [nzPopoverContent]="popContentTemplate" nzPopoverPlacement="bottomLeft">  <i nz-icon nzType="notification" class="ant-scroll-number-custom-component" ></i> 9</button>
            <button  nz-button nzType="warning"><i nz-icon nzType="logout" nzTheme="outline"></i>Log out</button>
          </nz-button-group>

        </div>

      </div>
      <ng-template #popContentTemplate>
        <div>
          <p>You have notifications.</p>

        </div>
      </ng-template>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Javaci Bank ©2020 All rights reserved.</nz-footer>
  </nz-layout>
</nz-layout>
